.accordeon {
  position: relative;
  cursor: pointer;

  &:after {
    position: absolute;
    top: -4px;
    right: 12px;
    padding: 13px 7px 19px;
    border-radius: 50%;
    background: #fff;
    font-size: 31px;
    font-weight: 700;
    line-height: 0;
    color: #363636;
    content: "+";
    transition: all .2s ease-in-out;
  }

  &:hover:after {
    transform: scale(1.1);
  }

  &--active {

    &:after {
      transform: rotate('-45deg');
    }
  }
}